# Cars Dataset

Here, The data of different cars is given with their specifications.

This data is available as CSV file, We are going to analyze the data set using the Pandas DataFrame

In [1]:
import pandas as pd
car_data=pd.read_csv("Cars_Data.csv")
car_data

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265,17,23,4451,106,189
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200,24,31,2778,101,172
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200,22,29,3230,105,183
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270,20,28,3575,108,186
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225,18,24,3880,115,197
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,"$40,565","$38,203",2.4,5.0,197,21,28,3450,105,186
424,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,"$42,565","$40,083",2.3,5.0,242,20,26,3450,105,186
425,Volvo,S80 T6 4dr,Sedan,Europe,Front,"$45,210","$42,573",2.9,6.0,268,19,26,3653,110,190
426,Volvo,V40,Wagon,Europe,Front,"$26,135","$24,641",1.9,4.0,170,22,29,2822,101,180
427,Volvo,XC70,Wagon,Europe,All,"$35,145","$33,112",2.5,5.0,208,20,27,3823,109,186

#### Q. 1) Instruction ( For Data Cleaning ) 
Find all Null Values in the dataset. If there is any null value in any column, then fill it with the mean of that column.

#### Q. 2) Question ( Based on Value Counts )
Check what are the different types of Make are there in our dataset. And, what is the count (occurrence) of each Make in the data ?

#### Q. 3) Instruction ( Filtering )
Show all the records where Origin is Asia or Europe.

#### Q. 4) Instruction ( Removing unwanted records ) 
Remove all the records (rows) where Weight is above 4000.

#### Q. 5) Instruction ( Applying function on a column )
Increase all the values of 'MPG_City' column by 3.